In [1]:
# Dependencies
import requests
from pprint import pprint
import xmltodict
import json
import xml.dom.minidom
import urllib.request
from urllib.request import urlopen
import lxml

In [2]:
zipcodes = [94501,94502,94706,94701,94702,94703,94704,94705,94707,
            94708,94709,94710,94712,94720,94546,94552,94568,94608,
            94662,94536,94537,94538,94539,94555,94540,94541,94542,
            94543,94544,94545,94557,94550,94551,94560,94601,94602,
            94603,94604,94605,94606,94607,94609,94610,94611,94612,
            94613,94614,94615,94617,94618,94619,94621,94622,94623,
            94624,94649,94659,94660,94661,94666,94620,94566,94588,
            94577,94578,94579,94580,94586,94587,94507,94509,94531,
            94511,94513,94514,94516,94517,94518,94519,94520,94521,
            94522,94524,94527,94529,94525,94506,94526,94528,94505,
            94530,94803,94820,94547,94548,94549,94553,94556,94570,
            94575,94561,94563,94564,94565,94523,94569,94801,94802,
            94804,94805,94807,94808,94850,94572,94806,94582,94583,
            94595,94596,94597,94598,94102,94103,94104,94105,94107,
            94108,94109,94110,94111,94112,94114,94115,94116,94117,
            94118,94119,94120,94121,94122,94123,94124,94125,94126,
            94127,94129,94130,94131,94132,94133,94134,94137,94139,
            94140,94141,94142,94143,94144,94145,94146,94147,94151,
            94158,94159,94160,94161,94163,94164,94172,94177,94188,
            94027,94002,94005,94010,94011,94014,94015,94016,94017,
            94018,94019,94020,94021,94025,94026,94030,94037,94038,
            94044,94060,94028,94061,94062,94063,94064,94065,94066,
            94070,94128,94074,94401,94402,94403,94404,94497,94080,
            94083,95002,95008,95009,95011,95013,95014,95015,95020,
            95021,95026,94022,94023,94024,95030,95031,95032,95035,
            95036,95037,95038,95140,94035,94039,94040,94041,94042,
            94043,95042,94301,94302,94303,94304,94306,94309,95044,
            95101,95103,95106,95108,95109,95110,95111,95112,95113,
            95115,95116,95117,95118,95119,95120,95121,95122,95123,
            95124,95125,95126,95127,95128,95129,95130,95131,95132,
            95133,95134,95135,95136,95138,95139,95141,95148,95150,
            95151,95152,95153,95154,95155,95156,95157,95158,95159,
            95160,95161,95164,95170,95172,95173,95190,95191,95192,
            95193,95194,95196,95046,95050,95051,95052,95053,95054,
            95055,95056,95070,95071,94305,94085,94086,94087,94088,
            94089,95001,95003,95005,95006,95007,95010,95017,95018,
            95019,95033,95041,95060,95061,95062,95063,95064,95065,
            95066,95067,95073,95076,95077]


api_key = '98d1830833800c9133ce4854f15ba749'
dataArray = []


for zips in zipcodes:
    url = "https://api.greatschools.org/schools/nearby?key=" + api_key + "&state=CA&schoolType=public&zip=" + str(zips) + "&limit=50"
    xmlUrl = urlopen(url)
    dataXML = xmlUrl.read()
    jsonData = json.loads(json.dumps(xmltodict.parse(dataXML)))
    dataArray.append(jsonData)
            

    
# print(dataArray)
    
#     dataArray.append(json.loads(json.dumps(xmltodict.parse(dataXML))))
    
    
# pprint(dataArray)

In [11]:
with open('data2.json', 'w') as outfile:
    json.dump(dataArray, outfile)

In [12]:
import csv
import pandas as pd

data = pd.read_csv("convertcsv.csv")

data.head()

FileNotFoundError: File b'convertcsv(1).csv' does not exist

In [7]:
data = data.sort_values(by=['schools/school/0/gsId'])

data.head()

,schools/school/0/gsId,schools/school/0/name,schools/school/0/type,schools/school/0/gradeRange,schools/school/0/enrollment,schools/school/0/gsRating,schools/school/0/parentRating,schools/school/0/city,schools/school/0/state,schools/school/0/districtId,...,schools/school/21/parentRating,schools/school/40/enrollment,schools/school/40/gsRating,schools/school/40/parentRating,schools/school/41/enrollment,schools/school/41/gsRating,schools/school/41/parentRating,schools/school/42/gsRating,schools/school/17/gsRating,schools
1,2.0,Bay Farm,public,K-8,591.0,9.0,5.0,Alameda,CA,1.0,...,4.0,358.0,1.0,5.0,290.0,1.0,4.0,3.0,NaN,NaN
0,15.0,William G. Paden Elementary School,public,K-5,297.0,6.0,4.0,Alameda,CA,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,Cornell Elementary School,public,K-5,548.0,10.0,4.0,Albany,CA,2.0,...,4.0,496.0,2.0,4.0,424.0,1.0,5.0,2.0,5.0,NaN
3,25.0,Berkeley High School,public,9-12,3205.0,8.0,4.0,Berkeley,CA,3.0,...,5.0,335.0,9.0,4.0,NaN,NaN,NaN,NaN,8.0,NaN
13,25.0,Berkeley High School,public,9-12,3205.0,8.0,4.0,Berkeley,CA,3.0,...,5.0,403.0,9.0,4.0,497.0,9.0,5.0,9.0,6.0,NaN

In [8]:
data.drop_duplicates(['schools/school/0/gsId'], keep = 'first', inplace = True)
data = data.sort_values(by=['schools/school/0/gsId'])
data.head()

,schools/school/0/gsId,schools/school/0/name,schools/school/0/type,schools/school/0/gradeRange,schools/school/0/enrollment,schools/school/0/gsRating,schools/school/0/parentRating,schools/school/0/city,schools/school/0/state,schools/school/0/districtId,...,schools/school/21/parentRating,schools/school/40/enrollment,schools/school/40/gsRating,schools/school/40/parentRating,schools/school/41/enrollment,schools/school/41/gsRating,schools/school/41/parentRating,schools/school/42/gsRating,schools/school/17/gsRating,schools
1,2.0,Bay Farm,public,K-8,591.0,9.0,5.0,Alameda,CA,1.0,...,4.0,358.0,1.0,5.0,290.0,1.0,4.0,3.0,NaN,NaN
0,15.0,William G. Paden Elementary School,public,K-5,297.0,6.0,4.0,Alameda,CA,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,21.0,Cornell Elementary School,public,K-5,548.0,10.0,4.0,Albany,CA,2.0,...,4.0,496.0,2.0,4.0,424.0,1.0,5.0,2.0,5.0,NaN
3,25.0,Berkeley High School,public,9-12,3205.0,8.0,4.0,Berkeley,CA,3.0,...,5.0,335.0,9.0,4.0,NaN,NaN,NaN,NaN,8.0,NaN
11,26.0,Rosa Parks Environmental Science Magnet School,public,K-5,463.0,7.0,4.0,Berkeley,CA,3.0,...,4.0,589.0,5.0,4.0,372.0,2.0,4.0,1.0,5.0,NaN

In [9]:
data.to_csv('schooldata2.csv', index=False)